*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.page-actions-cont{
 height: 3rem;
 background-color: #218c74;
 display: flex;  
 align-items: flex-end; 
 font-family: ;
}
.page-action{
    margin: 0.5rem;
    color: white ;
    font-family:ari;
}
.cellprops-actions-cont{
    height: 3rem;
    background-color: lightsalmon;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}
.cellprops-actions-cont>*{
    display: inline-block;
    margin-right: 1rem; 
}
.font-family-prop{
    padding: 0.2rem;
}
.font-size-prop{
    padding: 0.1rem;
}
.cellprops-actions-cont>select{
    border: none;
    border-radius: 45px;
    outline:none;
}
.formula-actions-cont{
    height: 3rem;
    background-color: lightblue;
}
.sheet-actions-cont{
    height: 2rem;
    background-color: lightcoral;
    display: ;
}
.grid-action-cont{
    height: calc(100vh - 12rem);
  
}
.sheets-folder-cont{
    height: 2rem;
    width: 2rem;
    background-color: yellow;
    display: inline-block;
}