*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.page-actions-cont{
 height: 3rem;
 background-color: #218c74;
 display: flex;  
 align-items: flex-end; 
 font-family: ;
}
.page-action{
    margin: 0.5rem;
    color: white ;
    font-family:ari;
}
.cellprops-actions-cont{
    height: 3rem;
    background-color: lightsalmon;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}
.cellprops-actions-cont>*{
    display: inline-block;
    margin-right: 1rem; 
}
.font-family-prop{
    padding: 0.2rem;
}
.font-size-prop{
    padding: 0.1rem;
}
.cellprops-actions-cont>select{
    border: none;
    border-radius: 45px;
    outline:none;
}
.formula-actions-cont{
    height: 3rem;
    background-color: lightblue;
}
.sheet-actions-cont{
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left:  0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
    background-color: #ecf0f1;
}
.sheet-actions-cont >*{
    display: inline-block;

}
.sheet-add-icons{ 
     width: 2vw;
}
.sheets-folder-cont{
    display: flex;
    align-items: center;
    height: 80%;
    width: calc( 100vw - 2vw);
    
    
}
.sheet-folder-new{
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px; 
    font: size 0.9rem;;
}
    
.grid-action-cont{
    height: calc(100vh - 12rem);
  
}